:root{
    background-color: brown;
    height: calc(100vh - 40px);
    width: 100vw;
    padding-top: 40px; 
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    background-color: beige;
    height: clamp(50px, 15vh, 200px);
    width: clamp(50px, 80vw, 800px);
    border: 5px solid black;
    border-radius: 8px;
    
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(20px, min(6vw, 6vh), 100px);
    font-weight: bold;
}

.header.won{
    animation-name: winning;
    animation-duration: 0.75s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes winning{
    from{
        background-color: beige;
        color: black;
    }
    to{
        background-color: brown;
        color: beige;
    }
}

.player-info{
    width: clamp(50px, 80vw, 800px);
    height: clamp(50px, 10vh, 200px);
    display: flex;
    gap: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.player0, .player1{
    background-color: beige;
    width: clamp(50px, 40vw, 400px);
    height: clamp(20px, 10vh, 200px);
    border-radius: 8px;
    border: 3px solid black;

    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: clamp(20px, min(5vw, 5vh), 100px);

}


.game-board{
    display: grid;
    grid-template-columns: repeat(3, clamp(50px, min(15vh, 15vw), 200px));
    grid-template-rows: repeat(3, clamp(50px, min(15vh, 15vw), 200px));
    background-color: beige;
    border: 3px solid black;
    
}

.cell{
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;
    font-size: 12px;
    transition: font-size 1s ease-out, 
        color 3s ease-out, 
        background-color 2s;
}

.cell:hover{
    background-color: aqua;
}

.restart-btn, .round-btn{
    margin-top: 10px;
    width: clamp(50px, 10vw, 800px);
    height: clamp(50px, 7vh, 200px);
    border-radius: 8px;
    background-color: beige;
    border: 3px solid black;
    font-size: clamp(10px, min(2vw, 2vh), 100px);
}
.restart-btn:hover, .round-btn:hover{
    background-color: rgb(245, 245, 182);
}

.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: 250ms opacity ease-in;
}
.visible{
    opacity: 1;
    pointer-events: auto;
}
.modal-container{
    
    font-size: clamp(20px, 2vmin, 40px);
    background-color: white;
    width: max(40vw,200px);
    padding: 10px;
    border-radius: 8px;
    border: 10px solid rgb(145, 64, 89);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-container fieldset {
    width: max(35vw, 180px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.modal-container > h2{
    justify-self: center;
}

.buttons-container{
    align-self: center;
    flex: 1;
    justify-self: center;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.buttons-container > *{
    font-weight: bold;
    font-size: clamp(15px, 2vw, 25px);
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 8px;
}
